PORT=3001
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=user-service-db
JWT_SECRET=<must match the JWT_SECRET in auth-service>
INTERNAL_API_KEY=<must match the INTERNAL_API_KEY in auth-service>